## Preparation

In order to prepare dataset for group project and mid term test, our dataset must fulfill these criteria:
1. **incomplete** - lacking attribute values, lacking certain attributes of interest, or containing only aggregate data
2. **noisy** - containing noise, error, or outliers
3. **inconsistent** - containing discrepancies in codes or names, or discrepancy between duplicate records
4. **intentional** - disguised missing data

### Imports

In [7]:
import numpy as np
import pandas as pd

### Data Understanding

#### Read Raw Data

In [2]:
df = pd.read_csv("./data/frmgham2_dirty.csv")
df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,No,0.0,26.97,No,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,No,0.0,NaN,No,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,No,0.0,28.73,No,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,No,0.0,29.43,No,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,No,0.0,28.50,No,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

#### Metadata

Below is the full list of column metadata. However, for our project, we are only interested in **heart disease prediction using the given risk factors**. Hence, some of the columns that are related to other diseases or time information are not relevant.

Reference: [Framingham Heart Study Longitudinal Data Documentation](https://biolincc.nhlbi.nih.gov/media/teachingstudies/FHS_Teaching_Longitudinal_Data_Documentation_2021a.pdf)

| Variable | Description                                                  | Remark                          |
| -------- | ------------------------------------------------------------ | ------------------------------- |
| RANDID   | Unique identification number for each participant            |                                 |
| SEX      | Participant sex (1=Men, 2=Women)                             |                                 |
| PERIOD   | Examination Cycle (1=Period 1, 2=Period 2, 3=Period 3)       |                                 |
| TIME     | Number of days since baseline exam                           | Not relevant to current project |
| AGE      | Age at exam (years)                                          |                                 |
| SYSBP    | Systolic Blood Pressure (mean of last two of three measurements) (mmHg) |                                 |
| DIABP    | Diastolic Blood Pressure (mean of last two of three measurements) (mmHg) |                                 |
| BPMEDS   | Use of Anti-hypertensive medication at exam (0=Not currently used, 1=Current Use) |                                 |
| CURSMOKE | Current cigarette smoking at exam (0=Not current smoker, 1=Current smoker) |                                 |
| CIGPDAY  | Number of cigarettes smoked each day (0=Not current smoker, 1-90 cigarettes per day) |                                 |
| educ     | Attained Education (1=0-11 years, 2=High School Diploma, GED, 3=Some College, Vocational School, 4=College (BS, BA) degree or more) |                                 |
| TOTCHOL  | Serum Total Cholesterol (mg/dL)                              |                                 |
| HDLC     | High Density Lipoprotein Cholesterol (mg/dL) - available for period 3 only |                                 |
| LDLC     | Low Density Lipoprotein Cholesterol (mg/dL) - available for period 3 only |                                 |
| BMI      | Body Mass Index, weight in kilograms/height meters squared   |                                 |
| GLUCOSE  | Casual serum glucose (mg/dL)                                 |                                 |
| DIABETES | Diabetic according to criteria of first exam treated or first exam with casual glucose of 200 mg/dL or more (0=Not a diabetic, 1=Diabetic) |                                 |
| HEARTRTE | Heart rate (Ventricular rate) in beats/min                   |                                 |
| PREVAP   | Prevalent Angina Pectoris at exam (0=Free of disease, 1=Prevalent disease) |                                 |
| PREVCHD  | Prevalent Coronary Heart Disease defined as pre-existing Angina Pectoris, Myocardial Infarction (hospitalized, silent or unrecognized), or Coronary Insufficiency (unstable angina) (0=Free of disease, 1=Prevalent disease) |                                 |
| PREVMI   | Prevalent Myocardial Infarction (0=Free of disease, 1=Prevalent disease) |                                 |
| PREVSTRK | Prevalent Stroke (0=Free of disease, 1=Prevalent disease)    |                                 |
| PREVHYP  | Prevalent Hypertensive. Subject was defined as hypertensive if treated or if second exam at which mean systolic was >=140 mmHg or mean Diastolic >=90 mmHg (0=Free of disease, 1=Prevalent disease) |                                 |
| ANGINA   | Angina Pectoris                                              | Not relevant to current project |
| HOSPMI   | Hospitalized Myocardial Infarction                           | Not relevant to current project |
| MI_FCHD  | Hospitalized Myocardial Infarction or Fatal Coronary Heart Disease | Not relevant to current project |
| ANYCHD   | Angina Pectoris, Myocardial infarction (Hospitalized and silent or unrecognized), Coronary Insufficiency (Unstable Angina), or Fatal Coronary Heart Disease |                                 |
| STROKE   | Atherothrombotic infarction, Cerebral Embolism, Intracerebral Hemorrhage, or Subarachnoid Hemorrhage or Fatal Cerebrovascular Disease | Not relevant to current project |
| CVD      | Myocardial infarction (Hospitalized and silent or unrecognized), Fatal Coronary Heart Disease, Atherothrombotic infarction, Cerebral Embolism, Intracerebral Hemorrhage, or Subarachnoid Hemorrhage or Fatal Cerebrovascular Disease | Not relevant to current project |
| HYPERTEN | Hypertensive. Defined as the first exam treated for high blood pressure or second exam in which either Systolic is $ 140 mmHg or Diastolic $ 90mmHg | Not relevant to current project |
| DEATH    | Death from any cause                                         | Not relevant to current project |
| TIMEAP   | Number of days from Baseline exam to first Angina during the followup or Number of days from Baseline to censor date. Censor date may be end of followup, death or last known contact date if subject is lost to followup | Not relevant to current project |
| TIMEMI   | Defined as above for the first HOSPMI event during followup  | Not relevant to current project |
| TIMEMIFC | Defined as above for the first MI_FCHD event during followup | Not relevant to current project |
| TIMECHD  | Defined as above for the first ANYCHD event during followup  | Not relevant to current project |
| TIMESTRK | Defined as above for the first STROKE event during followup  | Not relevant to current project |
| TIMECVD  | Defined as above for the first CVD event during followup     | Not relevant to current project |
| TIMEHYP  | Defined as above for the first HYPERTEN event during followup | Not relevant to current project |
| TIMEDTH  | Number of days from Baseline exam to death if occurring during followup or Number of days from Baseline to censor date. Censor date may be end of followup, or last known contact date if subject is lost to followup | Not relevant to current project |

#### Check Info

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11632 entries, 0 to 11631
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RANDID    11632 non-null  int64
 1   SEX       11632 non-null  object
 2   TOTCHOL   11223 non-null  float64
 3   AGE       11632 non-null  int64
 4   SYSBP     11632 non-null  float64
 5   DIABP     11632 non-null  float64
 6   CURSMOKE  11632 non-null  object
 7   CIGPDAY   11553 non-null  float64
 8   BMI       11580 non-null  float64
 9   DIABETES  11632 non-null  object
 10  BPMEDS    11039 non-null  float64
 11  HEARTRTE  11626 non-null  float64
 12  GLUCOSE   10191 non-null  float64
 13  educ      11337 non-null  float64
 14  PREVCHD   11632 non-null  int64
 15  PREVAP    11632 non-null  int64
 16  PREVMI    11632 non-null  int64
 17  PREVSTRK  11632 non-null  int64
 18  PREVHYP   11632 non-null  int64
 19  TIME      11632 non-null  int64
 20  PERIOD    11632 non-null  int64
 21  HDLC      3029 non-null   float64
 22  LDLC      3028 non-null   float64
 23  DEATH     11632 non-null  int64
 24  ANGINA    11632 non-null  int64
 25  HOSPMI    11632 non-null  int64
 26  MI_FCHD   11632 non-null  int64
 27  ANYCHD    11632 non-null  object
 28  STROKE    11632 non-null  int64
 29  CVD       11632 non-null  int64
 30  HYPERTEN  11632 non-null  int64
 31  TIMEAP    11632 non-null  int64
 32  TIMEMI    11632 non-null  int64
 33  TIMEMIFC  11632 non-null  int64
 34  TIMECHD   11632 non-null  int64
 35  TIMESTRK  11632 non-null  int64
 36  TIMECVD   11632 non-null  int64
 37  TIMEDTH   11632 non-null  int64
 38  TIMEHYP   11632 non-null  int64
dtypes: float64(11), int64(24), object(4)
memory usage: 3.5+ MB

#### Check Descriptive Summary

In [3]:
df.describe()

,RANDID,TOTCHOL,AGE,SYSBP,DIABP,CIGPDAY,BMI,BPMEDS,HEARTRTE,GLUCOSE,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
count,1.163200e+04,11223.000000,11632.000000,11632.000000,11632.000000,11553.000000,11580.000000,11039.000000,11626.000000,10191.000000,...,11632.000000,11632.000000,11632.000000,11632.00000,11632.000000,11632.000000,11632.000000,11632.000000,11632.000000,11632.000000
mean,5.003767e+06,241.155128,54.794876,136.323117,83.036752,8.246776,25.877547,0.085606,76.781094,84.120891,...,0.249312,0.743294,7241.923573,7594.14804,7543.359869,7008.620616,7661.152510,7166.482118,7854.292383,3599.036107
std,2.900745e+06,45.364614,9.564961,22.796155,11.658630,12.185459,4.102909,0.279793,12.462471,24.990964,...,0.432633,0.436834,2477.385078,2136.40973,2191.791579,2640.942721,2010.782656,2541.267718,1788.115282,3464.022521
min,2.448000e+03,107.000000,32.000000,83.500000,30.000000,0.000000,14.430000,0.000000,37.000000,39.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,26.000000,0.000000
25%,2.473562e+06,210.000000,48.000000,120.000000,75.000000,0.000000,23.090000,0.000000,69.000000,72.000000,...,0.000000,0.000000,6233.000000,7212.00000,7049.750000,5600.000000,7295.500000,6006.750000,7798.250000,0.000000
50%,5.005051e+06,238.000000,54.000000,132.000000,82.000000,0.000000,25.480000,0.000000,75.000000,80.000000,...,0.000000,1.000000,8766.000000,8766.00000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,2429.000000
75%,7.471636e+06,268.000000,62.000000,149.000000,90.000000,20.000000,28.070000,0.000000,85.000000,89.000000,...,0.000000,1.000000,8766.000000,8766.00000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,7329.000000
max,9.999312e+06,696.000000,81.000000,295.000000,150.000000,90.000000,56.800000,1.000000,220.000000,478.000000,...,1.000000,1.000000,8766.000000,8766.00000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000,8766.000000

#### Check Missing Values

In [10]:
df.isna().sum().sort_values(ascending=False)

LDLC        8604
HDLC        8603
GLUCOSE     1441
BPMEDS       593
TOTCHOL      409
educ         295
CIGPDAY       79
BMI           52
HEARTRTE       6
TIMEAP         0
MI_FCHD        0
ANYCHD         0
STROKE         0
CVD            0
HYPERTEN       0
RANDID         0
TIMEMI         0
ANGINA         0
TIMEMIFC       0
TIMECHD        0
TIMESTRK       0
TIMECVD        0
TIMEDTH        0
HOSPMI         0
TIME           0
DEATH          0
PERIOD         0
SEX            0
PREVHYP        0
PREVSTRK       0
PREVMI         0
PREVAP         0
PREVCHD        0
DIABETES       0
CURSMOKE       0
DIABP          0
SYSBP          0
AGE            0
TIMEHYP        0
dtype: int64

##### LDLC

In [11]:
df["LDLC"].describe()

count    3028.000000
mean      176.452774
std        46.859793
min        20.000000
25%       145.000000
50%       173.000000
75%       205.000000
max       565.000000
Name: LDLC, dtype: float64

In [13]:
df["LDLC"].isna().sum()

8604

Based on the metadata description, the data for `LDLC` only available for period 3. Hence, we will have missing values.

##### HDLC

In [14]:
df["HDLC"].describe()

count    3029.000000
mean       49.363156
std        15.622978
min        10.000000
25%        39.000000
50%        48.000000
75%        58.000000
max       189.000000
Name: HDLC, dtype: float64

In [15]:
df["HDLC"].isna().sum()

8603

Based on the metadata description, the data for `HDLC` only available for period 3. Hence, we will have missing values.

##### GLUCOSE

In [16]:
df["GLUCOSE"].describe()

count    10191.000000
mean        84.120891
std         24.990964
min         39.000000
25%         72.000000
50%         80.000000
75%         89.000000
max        478.000000
Name: GLUCOSE, dtype: float64

In [17]:
df["GLUCOSE"].isna().sum()

1441

We found missing values in `GLUCOSE` column.

##### BPMEDS

In [18]:
df["BPMEDS"].value_counts()

0.0    10094
1.0      945
Name: BPMEDS, dtype: int64

In [19]:
df["BPMEDS"].isna().sum()

593

We found missing values in `BPMEDS` column.

##### TOTCHOL

In [20]:
df["TOTCHOL"].describe()

count    11223.000000
mean       241.155128
std         45.364614
min        107.000000
25%        210.000000
50%        238.000000
75%        268.000000
max        696.000000
Name: TOTCHOL, dtype: float64

In [21]:
df["TOTCHOL"].isna().sum()

409

We found missing values in `TOTCHOL` column.

##### educ

In [22]:
df["educ"].value_counts()

1.0    4694
2.0    3410
3.0    1886
4.0    1347
Name: educ, dtype: int64

In [23]:
df["educ"].isna().sum()

295

We found missing value in `educ` column.

##### CIGPDAY

In [27]:
df["CIGPDAY"].describe()

count    11553.000000
mean         8.246776
std         12.185459
min          0.000000
25%          0.000000
50%          0.000000
75%         20.000000
max         90.000000
Name: CIGPDAY, dtype: float64

In [28]:
df["CIGPDAY"].isna().sum()

79

We found missing values in `CIGPDAY` column.

##### BMI

In [29]:
df["BMI"].describe()

count    11580.000000
mean        25.877547
std          4.102909
min         14.430000
25%         23.090000
50%         25.480000
75%         28.070000
max         56.800000
Name: BMI, dtype: float64

In [30]:
df["BMI"].isna().sum()

52

We found missing values in `BMI` column.

##### HEARTRTE

In [32]:
df["HEARTRTE"].describe()

count    11626.000000
mean        76.781094
std         12.462471
min         37.000000
25%         69.000000
50%         75.000000
75%         85.000000
max        220.000000
Name: HEARTRTE, dtype: float64

In [33]:
df["HEARTRTE"].isna().sum()

6

We found missing values in `HEARTRTE` column.

##### SEX

In [34]:
df["SEX"].value_counts()

2         6595
1         5007
Female      10
M            9
Male         6
F            5
Name: SEX, dtype: int64

We found inconsistent data in `SEX` column.

##### PERIOD

In [35]:
df["PERIOD"].value_counts()

1    4435
2    3932
3    3265
Name: PERIOD, dtype: int64

##### AGE

In [36]:
df["AGE"].describe()

count    11632.000000
mean        54.794876
std          9.564961
min         32.000000
25%         48.000000
50%         54.000000
75%         62.000000
max         81.000000
Name: AGE, dtype: float64

##### SYSBP

In [37]:
df["SYSBP"].describe()

count    11632.000000
mean       136.323117
std         22.796155
min         83.500000
25%        120.000000
50%        132.000000
75%        149.000000
max        295.000000
Name: SYSBP, dtype: float64

##### DIABP

In [38]:
df["DIABP"].describe()

count    11632.000000
mean        83.036752
std         11.658630
min         30.000000
25%         75.000000
50%         82.000000
75%         90.000000
max        150.000000
Name: DIABP, dtype: float64

##### CURSMOKE

In [39]:
df["CURSMOKE"].value_counts()

No     6603
Yes    5029
Name: CURSMOKE, dtype: int64

##### DIABETES

In [41]:
df["DIABETES"].value_counts()

No     11102
Yes      530
Name: DIABETES, dtype: int64

##### PREVAP

In [42]:
df["PREVAP"].value_counts()

0    11005
1      627
Name: PREVAP, dtype: int64

##### PREVCHD

In [43]:
df["PREVCHD"].value_counts()

0    10790
1      842
Name: PREVCHD, dtype: int64

##### PREVMI

In [44]:
df["PREVMI"].value_counts()

0    11258
1      374
Name: PREVMI, dtype: int64

##### PREVSTRK

In [45]:
df["PREVSTRK"].value_counts()

0    11480
1      152
Name: PREVSTRK, dtype: int64

##### PREVHYP

In [46]:
df["PREVHYP"].value_counts()

0    6285
1    5347
Name: PREVHYP, dtype: int64

##### ANYCHD

In [47]:
df["ANYCHD"].value_counts()

No     8473
Yes    3159
Name: ANYCHD, dtype: int64

In the raw dataset, we were only able to find incomplete and inconsistent data. Hence, we need to modify some data to be nosiy and intentional disguised missing data.

### Modification

Create a copy of dataframe for further modification.

In [48]:
df_mod = df.copy()

#### Create intentional disguised missing data

##### educ

Before modification:

In [50]:
df_mod["educ"].value_counts()

1.0    4694
2.0    3410
3.0    1886
4.0    1347
Name: educ, dtype: int64

In [51]:
df_mod["educ"].isna().sum()

295

Replace all missing value in `educ` with `0`.

In [52]:
df_mod["educ"] = df_mod["educ"].fillna(0)

After modification:

In [54]:
df_mod["educ"].value_counts()

1.0    4694
2.0    3410
3.0    1886
4.0    1347
0.0     295
Name: educ, dtype: int64

In [55]:
df_mod["educ"].isna().sum()

0

#### Create noisy data

##### AGE

Check the total number of records.

In [57]:
len(df_mod)

11632

Create a list of random index from a sample size of approximately 1% of the total number of records.

In [68]:
np.random.seed(42)
random_sample_index = np.random.choice(df_mod.index, size=round((len(df_mod) * 0.01)))
random_sample_index

array([ 7270,   860,  5390,  5191, 11284,  5734,  6265,   466,  4426,
        5578, 11363, 11111,  8322,  1685,   769, 10583,  6949,  2433,
        5311,  5051,  6420,  1184,  4555,  3385,  6396, 11096,  8666,
        9274,  2558,  7849,  2047,  2747,  9167,  9998,   189,  2734,
        3005,  4658,  1899,  7734,  1267,  1528, 11394,  3556,  3890,
        8838, 11080,  5393, 10627,  8792, 10555, 10253,  8433, 10233,
       11016,  7513,  2612,  7041,  9555,  6235,  5486,  7099,  9670,
       10748,   775,  8226,  3152, 10147,  1585,  3943,  7555,  3073,
        1021, 10805,  3843,  7989,  9692,  6873,  5675,   161,  4297,
       10173,   995, 11534,  7629,  9467,  1016,  7869,  6439,  7892,
        6863,  7916,  8529,   878,  9268,  4887,  4859,  6331,  8571,
        8684,  7208,  5276,  2062,    64,  8006,  2568,  5463,  2027,
        2695,  9687,  5258,  5618,  6736,   391,  5892,  3561],
      dtype=int64)

In [69]:
len(random_sample_index)

116

Before modification:

In [75]:
df_mod["AGE"].describe()

count    11632.000000
mean        54.794876
std          9.564961
min         32.000000
25%         48.000000
50%         54.000000
75%         62.000000
max         81.000000
Name: AGE, dtype: float64

Modify value in `AGE` column that matches the random sample index to `-1`.

In [76]:
df_mod.loc[random_sample_index, "AGE"] = -1

After modification:

In [77]:
df_mod["AGE"].describe()

count    11632.000000
mean        54.249484
std         11.022476
min         -1.000000
25%         47.000000
50%         54.000000
75%         62.000000
max         81.000000
Name: AGE, dtype: float64

In [78]:
len(df_mod[df_mod["AGE"] == -1])

116

### Subset

We need a small sample of size 50 for correlation analysis during mid term test.

Create a copy of the modified dataframe for further subsetting.

In [79]:
df_50 = df_mod.copy()

Exclude all missing values.

In [80]:
df_50 = df_50.dropna()
df_50.isna().sum()

RANDID      0
SEX         0
TOTCHOL     0
AGE         0
SYSBP       0
DIABP       0
CURSMOKE    0
CIGPDAY     0
BMI         0
DIABETES    0
BPMEDS      0
HEARTRTE    0
GLUCOSE     0
educ        0
PREVCHD     0
PREVAP      0
PREVMI      0
PREVSTRK    0
PREVHYP     0
TIME        0
PERIOD      0
HDLC        0
LDLC        0
DEATH       0
ANGINA      0
HOSPMI      0
MI_FCHD     0
ANYCHD      0
STROKE      0
CVD         0
HYPERTEN    0
TIMEAP      0
TIMEMI      0
TIMEMIFC    0
TIMECHD     0
TIMESTRK    0
TIMECVD     0
TIMEDTH     0
TIMEHYP     0
dtype: int64

Exclude all modified values.

In [81]:
df_50 = df_50[(df_50["educ"] != 0) & (df_50["AGE"] != -1)]

In [82]:
df_50["educ"].value_counts()

1.0    837
2.0    696
3.0    389
4.0    296
Name: educ, dtype: int64

In [83]:
df_50["AGE"].describe()

count    2218.000000
mean       60.188909
std         8.306321
min        44.000000
25%        53.000000
50%        59.000000
75%        67.000000
max        81.000000
Name: AGE, dtype: float64

Create a subset from the dataframe.

In [88]:
df_50 = df_50.sample(50, random_state=42)
len(df_50)

50

### Exports

In [89]:
df_mod.to_csv("./data/frmgham2_dirty_modified.csv", index=False)
df_50.to_csv("./data/frmgham2_sample_50.csv", index=False)

### Summary

* `frmgham2_dirty.csv` - original dataset
* `frmgham2_dirty_modified.csv` - modified dataset (`educ` & `AGE` column modified)
* `frmgham2_sample_50.csv` - dataset of sample size 50 without any data quality issues